{{! Copyright (c) Mark Voortman - mark@voortman.name. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<h2 id="header">Schoology</h2>
<div id="menu"></div>
<hr id="hr1">
<div id="content"></div>
<hr id="hr2">

<script>
 
 function save(alldata, cb) {
   var tmpdata = {
     email: alldata.email,
     name: alldata.name,
     info: alldata.info,
     syllabi: alldata.syllabi
   };
   $.ajax({
     type: "POST",
     url: "/save_data",
     data: {
       data: JSON.stringify(tmpdata)
     }
   }).done(function(data) {
     if (data.error) {
       console.log(JSON.stringify(data.error));
       alert(JSON.stringify(data.error));
     }
     else {
       if (cb) {
         cb();
       }
       else {
         initSchoology();
       }
     }
   }).fail(fail);
 }
 
 function initSchoology() {
   var content = $("#content");
   content.empty();
   content.append("Please wait ...");
   $.ajax({
     type: "GET",
     url: "/load_schoology_data?" + Date.now()
   }).done(function(data) {
     content.empty();
     if (data.error) {
       alert(data.error);
     }
     else {
       if (data.notInitialized) {
         setSchoologyCredentials();
       }
       else {
         showSchoology(data);
       }
     }
   }).fail(fail);
 }
 
 function setSchoologyCredentials() {
   var menu = $("#menu");
   var content = $("#content");
   menu.empty();
   content.empty();
   content.append("<b>Schoology Credentials</b><br>");
   content.append("Click on <a href=\"https://pointpark.schoology.com/api\" target=\"_blank\">this</a> link and copy-paste the keys below (IMPORTANT: do not share with anyone!). You have to set this up only once.<br><br>");
   content.append("<b>Consumer Key</b>");
   var consumerkey = $("<input>");
   content.append(consumerkey);
   consumerkey.addClass("form-control");
   content.append("<br>");
   content.append("<b>Consumer Secret</b>");
   var consumersecret = $("<input>");
   content.append(consumersecret);
   consumersecret.addClass("form-control");
   content.append("<br>");
   var a = $("<a>");
   $("#content").append(a);
   a.addClass("btn btn-outline-primary btn-sm");
   a.attr("href", "javascript:");
   a.append("Submit");
   a.click(function() {
     if (!consumerkey.val() || !consumersecret.val()) {
       return;
     }
     $.ajax({
       type: "POST",
       url: "/set_schoology_credentials",
       data: {
         data: JSON.stringify({
           credentials: {
             consumerkey: consumerkey.val(),
             consumersecret: consumersecret.val()
           }
         })
       }
     }).done(function(data) {
       if (data.error) {
         console.log(JSON.stringify(data.error));
         alert(JSON.stringify(data.error));
       }
       else {
         initSchoology();
       }
     }).fail(fail);
   });
 }
 
 function showSchoology(data) {
   var menu = $("#menu");
   var content = $("#content");
   menu.empty();
   content.empty();
   content.append("<b>Available Courses</b><br>");
   if (!data.sections.section) {
     content.append("<hr>");
     content.append("None (if you expect to see courses please try again, sometimes they do not seem to load the first time).");
   }
   else {
     function displaySemester(longname, shortname) {
       content.append("<hr>");
       content.append("<b>" + longname + "</b><br>");
       for (var i = 0; i < data.sections.section.length; i++) {
         (function(i) {
           var section = data.sections.section[i];
           var parts = section.section_title.split(" ");
           if (parts[0] !== "OAON" && parts[1] === shortname) {
             content.append("<hr>");
             var a = $("<a>");
             content.append(a);
             a.addClass("btn btn-outline-primary btn-sm");
             a.attr("href", "javascript:");
             a.click(function() {
               selectSyllabus({
                 section: section
               });
             });
             a.append(section.course_code + " " + section.course_title + " " + parts[0]);
             content.append("<br>");
           }
         })(i);
       }
     }
     //displaySemester("Spring 2019", "SP18");
     //displaySemester("Summer 2019", "ZU18");
     //displaySemester("Fall 2019", "FA19");
     //displaySemester("Spring 2020", "SP19");
     //displaySemester("Summer 2020", "ZU19");
     //displaySemester("Fall 2020", "FA20");
     //displaySemester("Spring 2021", "SP20");
     //displaySemester("Summer 2021", "ZU20");
     displaySemester("Fall 2021", "FA21");
   }
 }
 
 function sem2text(sem) {
   return {
     "SP18": "Spring 2019",
     "ZU18": "Summer 2019",
     "FA19": "Fall 2019",
     "SP19": "Spring 2020",
     "ZU19": "Summer 2020",
     "FA20": "Fall 2020",
     "SP20": "Spring 2021",
     "ZU20": "Summer 2021",
     "FA21": "Fall 2021",
   }[sem];
 }
 
 function selectSyllabus(alldata) {
   var menu = $("#menu");
   var content = $("#content");
   menu.empty();
   content.empty();
   $.ajax({
     type: "GET",
     url: "/load_data?" + Date.now()
   }).done(function(data) {
     if (data.error) {
       alert(data.error);
     }
     else {
       alldata.email = data.email;
       alldata.name = data.name;
       alldata.info = data.info;
       alldata.syllabi = data.syllabi || [];
       for (var i = 0; i < alldata.syllabi.length; i++) {
         if (alldata.syllabi[i].info && alldata.syllabi[i].info.SectionID === alldata.section.id) {
           alldata.syllabus = alldata.syllabi[i];
         }
       }
       if (!alldata.syllabus) {
         alldata.syllabus = {};
         alldata.syllabi.push(alldata.syllabus);
       }
       if (!alldata.syllabus.info) {
         alldata.syllabus.info = {};
       }
       var course_code = alldata.section.course_code;
       if (course_code && course_code.indexOf("-") >= 0) {
         course_code = course_code.substring(0, course_code.indexOf("-"));
       }
       alldata.syllabus.info.Email = alldata.email;
       alldata.syllabus.info.NameReversed = alldata.name;
       alldata.syllabus.info.SectionID = alldata.section.id;
       alldata.syllabus.info.CourseCode = course_code;
       alldata.syllabus.info.CourseName = alldata.section.course_title;
       alldata.syllabus.info.Section = alldata.section.section_title.split(" ")[0];
       alldata.syllabus.info.Semester = sem2text(alldata.section.section_title.split(" ")[1]);
       personalinfo(alldata);
     }
   }).fail(fail);
 }
 
 function personalinfo(alldata) {
   $("#menu").empty();
   $("#content").empty();
   var a = $("<a>");
   $("#menu").append(a);
   a.addClass("btn btn-primary btn-sm");
   a.attr("href", "javascript:");
   a.append("Back");
   a.click(function() {
     save(alldata);
   });
   $("#menu").append(" ");
   var a = $("<a>");
   $("#menu").append(a);
   a.addClass("btn btn-primary btn-sm");
   a.attr("href", "javascript:");
   a.append("Next");
   a.click(function() {
     $("#content").empty();
     $("#content").append("Please wait ...");
     alldata.info.Email = alldata.email;
     alldata.info.NameReversed = alldata.name;
     save(alldata, function() {
       findtemplate(alldata);
     });
   });
   $("#content").append("<b>Personal Info</b><br>");
   function addEntry(name) {
     $("#content").append("<br>");
     $("#content").append(name);
     var input = $("<input>");
     $("#content").append(input);
     input.addClass("form-control");
     var property = name.replace(/ /g, "");
     input.keyup(function() {
       alldata.info[property] = input.val();
     });
     input.change(function() {
       alldata.info[property] = input.val();
     });
     if (alldata.info && alldata.info[property]) {
       input.val(alldata.info[property]);
     }
   }
   if (!alldata.info) {
     alldata.info = {};
   }
   addEntry("Name");
   addEntry("Office Location");
   addEntry("Office Phone");
   addEntry("Office Hours");
 }
 
 function findtemplate(alldata) {
   $.ajax({
     type: "GET",
     url: "/load_templates?" + Date.now()
   }).done(function(data) {
     if (data.error) {
       alert(data.error);
     }
     else {
       var name = alldata.syllabus.info.CourseCode;
       name = name.substring(0, name.length - 3);
       var template = null;
       for (var i = 0; i < data.templates.length; i++) {
         if (data.templates[i].info.Name === name) {
           template = data.templates[i].id;
           break;
         }
       }
       if (!template) {
         alert("No template found for " + name);
       }
       else {
         alldata.syllabus.info.Template = template;
         filldata(alldata);
       }
     }
   });
 }

 var CATALOG = null;
 
 function loadCatalogData(cb) {
   if (CATALOG) {
     cb(CATALOG);
   }
   else {
     $.ajax({
       type: "GET",
       url: "/load_catalog_data?" + Date.now()
     }).done(function(data) {
       CATALOG = data;
       cb(CATALOG);
     }).fail(fail);
   }
 }
 
 function filldata(alldata) {
   loadCatalogData(function(catalog) {
     var name = alldata.syllabus.info.CourseCode;
     var info = findcourse(catalog, name);
     for (var key in info) {
       alldata.syllabus.info[key] = info[key];
     }
     courseinfo(alldata);
   });
 }

 function normalize(code) {
   code = code || "";
   if (code.startsWith("MBA5 ")) {
     // suppress the MBA5 XX duplicates
     return "";
   }
   return code.toUpperCase().replace(/ /g, "");
 }
 
 function findcourse(catalog, code) {
   var prefix = "</b></u><br><br>";
   var postfix = "<br><br><b><u>";
   for (var i = 0; i < catalog.length; i++) {
     if (normalize(catalog[i].crs_cde) === code) {
       var data = {};
       data.CourseCode = normalize(catalog[i].crs_cde);
       data.CourseName = catalog[i].crs_title + catalog[i].crs_title_2;
       data.Credits = catalog[i].dflt_credit_hrs;
       var text = CATALOG[i].catalog_text.replace(/\r\n/, "").replace(/\r/, "").replace(/\n/, "");
       text = text.substr(text.indexOf(prefix) + prefix.length, text.length).trim();
       var endIndex = text.indexOf(postfix) >= 0 ? text.indexOf(postfix) : text.length;
       var desc = text.substr(0, endIndex).replace(/<br>/g, "\n").trim();
       data.CourseDescription = desc;
       text = text.substr(endIndex);
       var prereqs = "None.";
       var parts = desc.split("Prerequisite");
       if (parts.length === 2) {
         desc = parts[0].trim();
         prereqs = parts[1].substring(parts[1].indexOf(":") + 1).trim();
       }
       data.Prerequisites = prereqs;
       text = text.substr(text.indexOf(prefix) + prefix.length, text.length).trim();
       var objectives = text.replace(/<br>/g, "\n").replace(/\n\n/g, "\n").trim();
       data.CourseObjectives = objectives;
       return data;
     }
   }
   return null;
 }
 
 function courseinfo(alldata) {
   $("#menu").empty();
   $("#content").empty();
   var a = $("<a>");
   $("#menu").append(a);
   a.addClass("btn btn-primary btn-sm");
   a.attr("href", "javascript:");
   a.append("Back");
   a.click(function() {
     personalinfo(alldata);
   });
   $("#menu").append(" ");
   var a = $("<a>");
   $("#menu").append(a);
   a.addClass("btn btn-primary btn-sm");
   a.attr("href", "javascript:");
   a.append("Next");
   a.click(function() {
     $("#content").empty();
     $("#content").append("Please wait ...");
     save(alldata, function() {
       goedit(alldata);
     });
   });
   //$("#content").append("<b>Course Info</b><br>");
   
   $("#content").append("<b>Course Type</b>");
   if (!alldata.syllabus.info.CourseType) {
     alldata.syllabus.info.CourseType = "15 Week";
   }
   var input = $("<select>");
   $("#content").append(input);
   input.addClass("form-control");
   var options = [];
   if (alldata.syllabus.info.Semester.startsWith("Summer")) {
     options.push("12 Week");
   }
   options.push("15 Week");
   options.push("Term I");
   options.push("Term II");
   options.push("Evening Term I");
   options.push("Evening Term II");
   for (var i = 0; i < options.length; i++) {
     var option = $("<option>");
     input.append(option);
     option.attr("value", options[i]);
     option.append(options[i]);
   }
   input.change(function() {
     alldata.syllabus.info.CourseType = $(this).val();
   });
   if (alldata.syllabus.info && alldata.syllabus.info.CourseType) {
     input.val(alldata.syllabus.info.CourseType);
   }
   
   $("#content").append("<br><b>Meeting Time Start (HH:MM AM/PM)</b>");
   var input = $("<input>");
   $("#content").append(input);
   input.addClass("form-control");
   input.attr("type", "time");
   if (alldata.syllabus.info["ClassMeetingTimeStart"]) {
     var parts = alldata.syllabus.info["ClassMeetingTimeStart"].split(" ");
     var hours = Number(parts[0].split(":")[0]);
     var minutes = parts[0].split(":")[1];
     if (parts[1] === "AM" && hours === 12) {
       hours -= 12;
     }
     if (parts[1] === "PM" && hours < 12) {
       hours += 12;
     }
     var result = hours + ":" + minutes;
     if (result.indexOf(":") === 1) {
       result = "0" + result;
     }
     input.val(result);
   }
   input.change(function() {
     var parts = $(this).val().split(":");
     var hours = Number(parts[0]);
     var timestr = (hours <= 12 ? (hours === 0 ? 12 : hours) : hours-12) + ":" + parts[1] + " " + (hours < 12 ? "AM" : "PM");
     alldata.syllabus.info["ClassMeetingTimeStart"] = timestr;
   });
   
   $("#content").append("<br><b>Meeting Time End (HH:MM AM/PM)</b>");
   var input = $("<input>");
   $("#content").append(input);
   input.addClass("form-control");
   input.attr("type", "time");
   if (alldata.syllabus.info["ClassMeetingTimeEnd"]) {
     var parts = alldata.syllabus.info["ClassMeetingTimeEnd"].split(" ");
     var hours = Number(parts[0].split(":")[0]);
     var minutes = parts[0].split(":")[1];
     if (parts[1] === "AM" && hours === 12) {
       hours -= 12;
     }
     if (parts[1] === "PM" && hours < 12) {
       hours += 12;
     }
     var result = hours + ":" + minutes;
     if (result.indexOf(":") === 1) {
       result = "0" + result;
     }
     input.val(result);
   }
   input.change(function() {
     var parts = $(this).val().split(":");
     var hours = Number(parts[0]);
     var timestr = (hours <= 12 ? (hours === 0 ? 12 : hours) : hours-12) + ":" + parts[1] + " " + (hours < 12 ? "AM" : "PM");
     alldata.syllabus.info["ClassMeetingTimeEnd"] = timestr;
   });
   
   $("#content").append("<br><b>Meeting Days</b>");
   var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
   var selecteddays = {};
   for (var i = 0; i < days.length; i++) {
     (function(i) {
       var formcheck = $("<div>");
       $("#content").append(formcheck);
       formcheck.addClass("form-check");
       var input = $("<input>");
       formcheck.append(input);
       input.addClass("form-check-input");
       input.attr("type", "checkbox");
       formcheck.append(" " + days[i]);
       if (alldata.syllabus.info["ClassMeetingDays"] && alldata.syllabus.info["ClassMeetingDays"].indexOf(days[i]) >= 0) {
         input.prop("checked", true);
         selecteddays[days[i]] = true;
       }
       input.change(function() {
         selecteddays[days[i]] = input.prop("checked");
         var result = "";
         for (var j = 0; j < days.length; j++) {
           if (selecteddays[days[j]]) {
             if (result) {
               result += ", ";
             }
             result += days[j];
           }
         }
         alldata.syllabus.info["ClassMeetingDays"] = result;
       });
     })(i);
   }
   
   $("#content").append("<br><b>Meeting Location</b>");
   var input = $("<input>");
   $("#content").append(input);
   input.addClass("form-control");
   input.attr("type", "input");
   if (alldata.syllabus.info["ClassMeetingLocation"]) {
     input.val(alldata.syllabus.info["ClassMeetingLocation"]);
   }
   input.change(function() {
     alldata.syllabus.info["ClassMeetingLocation"] = $(this).val();
   });
   
   $("#content").append("<br><b>Schedule</b>");
   (function() {
     var formcheck = $("<div>");
     $("#content").append(formcheck);
     formcheck.addClass("form-check");
     var input = $("<input>");
     formcheck.append(input);
     input.addClass("form-check-input");
     input.attr("type", "checkbox");
     formcheck.append(" Do not automatically generate class schedule (check if you will attach your own PDF schedule)");
     if (alldata.syllabus.info["DoNotGenerateSchedule"]) {
       input.prop("checked", true);
     }
     input.change(function() {
       alldata.syllabus.info["DoNotGenerateSchedule"] = input.prop("checked");
     });
   })();
   
   $("#content").append("<br><b>Upload Appendix (PDF only)</b><br>");
   $("#content").append("If you upload a PDF file below it will be appended to the end of your syllabus.<br>Note that a lot of software, such as Microsoft Office, supports saving to PDF directly.<br>Only one PDF is supported, so if you have multiple files you should combine them into one first.<br>");
   var status = $("<div>");
   $("#content").append(status);
   var showStatus = function() {
     status.empty();
     if (!alldata.syllabus.info.PdfFileAppendix) {
       input.show();
     }
     else {
       var a = $("<a>");
       status.append(a);
       a.append(alldata.syllabus.info.PdfFileAppendix.name);
       a.attr("href", "files/" + alldata.syllabus.info.PdfFileAppendix.id + "/" + alldata.syllabus.info.PdfFileAppendix.name);
       a.attr("target", "_blank");
       status.append(" (");
       var a = $("<a>");
       status.append(a);
       a.append("delete");
       a.attr("href", "javascript:");
       a.css("color", "red");
       status.append(")");
       a.click(function() {
         alldata.syllabus.info.PdfFileAppendix = "";
         save(alldata, function() {
           showStatus();
         });
       });
       input.hide();
     }
   };
   var progress = $("<progress>");
   $("#content").append(progress);
   progress.hide();
   var form = $("<form>");
   $("#content").append(form);
   form.attr("enctype", "multipart/form-data");
   var input = $("<input>");
   form.append(input);
   input.addClass("form-control");
   input.attr("type", "file");
   input.attr("name", "file");
   input.attr("accept", ".pdf,application/pdf");
   input.change(function() {
     if (input.val()) {
       if (!input.val().toLowerCase().endsWith(".pdf")) {
         alert("Only PDF files are supported!");
         input.val("");
         return;
       }
       $.ajax({
         url: "/fileupload",
         type: "POST",
         data: new FormData(form[0]),
         cache: false,
         contentType: false,
         processData: false,
         xhr: function() {
           var myXhr = $.ajaxSettings.xhr();
           if (myXhr.upload) {
             progress.show();
             myXhr.upload.addEventListener("progress", function(e) {
               if (e.lengthComputable) {
                 progress.attr({
                   value: e.loaded,
                   max: e.total,
                 });
               }
             }, false);
           }
           return myXhr;
         }
       }).done(function(tmpdata) {
         if (tmpdata.error) {
           console.log(JSON.stringify(tmpdata.error));
           alert(JSON.stringify(tmpdata.error));
         }
         else {
           progress.hide();
           alldata.syllabus.info.PdfFileAppendix = {
             id: tmpdata.id,
             name: tmpdata.name
           };
           input.val("");
           save(alldata, function() {
             showStatus();
           });
         }
       }).fail(fail);
     }
   });
   showStatus();
 }
 
 function goedit(alldata) {
   $.ajax({
     type: "GET",
     url: "/load_templates?" + Date.now()
   }).done(function(data) {
     if (data.error) {
       alert(data.error);
     }
     else {
       var result = sylbuilder.prepare(data, alldata);
       edit(alldata, result.template, result.data, alldata.syllabus.fields, 0, true);
     }
   }).fail(fail);
 }
 
 var currentidx = null;
 function edit(alldata, origtemplate, data, fields, idx, init) {
   if (init) currentidx = null;
   if (idx === currentidx) {
     return;
   }
   currentidx = idx;
   $("#menu").empty();
   $("#content").empty();
   $("#content").append('<div id="buttons"></div><div id="output"></div>');
   
   $("#menu").append("<b>Please edit below and save periodically to prevent the session from timing out.</b><br>");
   
   var a = $("<a>");
   $("#menu").append(a);
   a.addClass("btn btn-primary btn-sm");
   a.attr("href", "javascript:");
   a.append("Back");
   a.click(function() {
     courseinfo(alldata);
   });
   $("#menu").append(" ");
   var a = $("<a>");
   $("#menu").append(a);
   a.addClass("btn btn-primary btn-sm");
   a.attr("href", "javascript:");
   a.append("Save");
   a.click(function() {
     save(alldata, function() {
       alert("Data saved!");
       //initSchoology();
     });
   });
   $("#menu").append(" ");
   var a = $("<a>");
   $("#menu").append(a);
   a.addClass("btn btn-primary btn-sm");
   a.attr("href", "javascript:");
   a.append("Upload to Schoology");
   a.click(function() {
     $("#menu").empty();
     $("#content").empty();
     $("#content").append("Please wait ...");
     save(alldata, function() {
       $.ajax({
         type: "GET",
         url: "/upload?section_id=" + alldata.section.id
       }).done(function(data) {
         if (data.error) {
           alert(data.error);
         }
         else {
           $("#content").empty();
           $("#content").append("Syllabus was uploaded to Schoology!<br>Note that it has been added at the end of the main course folder, so please make sure to move it to the appropriate location.<br><a href=\"/feedback\">Click here to leave feedback!</a>");
         }
       }).fail(fail);
     });
   });
   
   var template = origtemplate;
   if (idx < 0) {
     idx = data.length - 1;
   }
   if (idx >= data.length) {
     idx = 0;
   }
   // replace other fields
   for (var i = 0; i < data.length; i++) {
     var entry = data[i];
     var regexp = new RegExp("\{{"+entry.property+"}}", "g");
     template = template.replace(regexp, "<span id='entry"+i+"'>"+(entry.value?entry.value:"["+entry.property+"]")+"</span>");
   }
   $("#output").empty();
   var innerdiv = $("<div>");
   $("#output").append(innerdiv);
   innerdiv.css("padding", "10px");
   innerdiv.append(marked(template, {breaks:true}));
   for (var i = 0; i < data.length; i++) {
     (function(i) {
       $("#entry"+i).css("color", "red");
       $("#entry"+i).css("cursor", "pointer");
       $("#entry"+i).click(function() {
         edit(alldata, origtemplate, data, fields, i);
       });
     })(i);
   }
   $("#entry"+idx).empty();
   var input = data[idx].usetextarea ? $("<textarea>") : $("<input>");
   $("#entry"+idx).append(input);
   if (data[idx].usetextarea) {
     input.css("width", "500px");
     input.css("height", "150px");
   }
   input.css("color", "red");
   input.css("background-color", "#ffe6e6");
   input.css("border", "3px solid red");
   input.attr("placeholder", data[idx].property);
   input.val(data[idx].value);
   input.keydown(function(e) {
     if (e.keyCode === 9) {
       if (e.preventDefault) {
         e.preventDefault();
       }
       if (e.shiftKey) {
         edit(alldata, origtemplate, data, fields, idx-1);
       }
       else {
         edit(alldata, origtemplate, data, fields, idx+1);
       }
       return false;
     }
   });
   input.keyup(function() {
     data[idx].value = input.val();
     fields[data[idx].property] = input.val();
   });
   input.change(function() {
     data[idx].value = input.val();
     fields[data[idx].property] = input.val();
   });
   //input.focus();
 }
 
 window.onload = function() {
    initSchoology();
 };
 
</script>
