{{! Copyright (c) Mark Voortman - mark@voortman.name. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<h2>Templates</h2>
<div id="menu"></div>
<hr id="hr1">
<div id="content"></div>
<hr id="hr2">

<script>
 window.onload = function() {

   function loadTemplates(cb) {
     $.ajax({
       type: "GET",
       url: "/load_templates"
     }).done(function(data) {
       if (data.error) {
         console.log(JSON.stringify(data.error));
         alert(JSON.stringify(data.error));
       }
       else {
         if (typeof data.template === "string") {
           // TODO: remove this if statement
           var templatestr = data.template;
           delete data.template;
           data.templates = [{
             id: Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15),
             template: templatestr,
             info: {
               "Name": "Default"
             }
           }];
         }
         var templates = data.templates || [];
         if (cb) {
           cb(templates);
         }
         else {
           showTemplates(templates);
         }
       }
     }).fail(fail);
   }
   
   function saveTemplates(templates, cb) {
     $.ajax({
       type: "POST",
       url: "/save_templates",
       data: {
         data: JSON.stringify({
           templates: templates
         })
       }
     }).done(function(data) {
       if (data.error) {
         console.log(JSON.stringify(data.error));
         alert(JSON.stringify(data.error));
       }
       else {
         if (cb) {
           cb();
         }
         else {
           showTemplates(templates);
         }
       }
     }).fail(fail);
   }
   
   function showTemplates(templates) {
     $("#menu").empty();
     $("#content").empty();
     $("#menu").empty();
     $("#content").empty();
     var a = $("<a>");
     $("#menu").append(a);
     a.addClass("btn btn-primary btn-sm");
     a.attr("href", "javascript:");
     a.append("New");
     a.click(function() {
       loadTemplates(function(templates) {
         templates.push({
           id: Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15),
           template: "",
           info: {
             "Name": "None"
           }
         });
         saveTemplates(templates, function() {
           showTemplate(templates, templates.length - 1);
         });
       });
     });
     if (!templates.length) {
       $("#content").append("No templates found.");
     }
     else {
       for (var i = 0; i < templates.length; i++) {
         (function(i) {
           if (i) {
             $("#content").append("<hr>");
           }
           var a = $("<a>");
           $("#content").append(a);
           a.addClass("btn btn-outline-primary btn-sm");
           a.attr("href", "javascript:");
           a.append("Edit");
           a.click(function() {
             showTemplate(templates, i);
           });
           $("#content").append(" " + templates[i].info.Name);
         })(i);
       }
     }
   }
   
   function showTemplate(templates, idx) {
     $("#menu").empty();
     $("#content").empty();
     
     var a = $("<a>");
     $("#menu").append(a);
     a.addClass("btn btn-primary btn-sm");
     a.attr("href", "javascript:");
     a.append("Back");
     a.click(function() {
       loadTemplates();
     });
     $("#menu").append(" ");
     var a = $("<a>");
     $("#menu").append(a);
     a.attr("id", "savebtn");
     a.attr("href", "javascript:");
     a.addClass("btn btn-primary btn-sm");
     a.append("Save");
     a.click(function() {
       $("#savebtn").addClass("disabled");
       for (var i = 0; i < entries.length; i++) {
         entries[i].prop("disabled", true);
       }
       //$("#template").prop("disabled", true);
       templates[idx].template = $("#template").val();
       $.ajax({
         type: "POST",
         url: "/save_templates",
         data: {
           data: JSON.stringify({
             templates: templates
           })
         }
       }).done(function(data) {
         if (data.error) {
           console.log(JSON.stringify(data.error));
           alert(JSON.stringify(data.error));
         }
         else {
           setTimeout(function() {
             $("#savebtn").removeClass("disabled");
             for (var i = 0; i < entries.length; i++) {
               entries[i].prop("disabled", false);
             }
             //$("#template").prop("disabled", false);
           }, 1000);
         }
       }).fail(fail);
     });
     $("#content").append("<b>Edit Template</b><br>");
     var entries = [];
     function addEntry(name) {
       $("#content").append("<br>");
       $("#content").append(name);
       var input = $("<input>");
       entries.push(input);
       $("#content").append(input);
       input.addClass("form-control");
       var property = name.replace(/ /g, "");
       input.keyup(function() {
         if (!templates[idx].info) {
           templates[idx].info = {};
         }
         templates[idx].info[property] = input.val();
       });
       input.change(function() {
         if (!templates[idx].info) {
           templates[idx].info = {};
         }
         templates[idx].info[property] = input.val();
       });
       if (templates[idx].info && templates[idx].info[property]) {
         input.val(templates[idx].info[property]);
       }
     }
     addEntry("Name");
     $("#content").append("<br>Template");
     var textarea = $("<textarea>");
     entries.push(textarea);
     $("#content").append(textarea);
     textarea.attr("id", "template");
     textarea.addClass("form-control");
     textarea.css("width", "100%");
     textarea.css("height", "60vh");
     //textarea.prop("disabled", true);
     textarea.val(templates[idx].template);
     // disable this because we now have more inputs than just the textarea
     //$("#template").keyup(function() {
     //  if (templates[idx].template !== $("#template").val()) {
     //    $("#savebtn").removeClass("disabled");
     //  }
     //  else {
     //    $("#savebtn").addClass("disabled");
     //  }
     //});
   }
   
   loadTemplates();
 };
</script>
