{{! Copyright (c) Mark Voortman - mark@voortman.name. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<h2>Template</h2>
<a id="savebtn" class="btn btn-primary btn-sm disabled" href="javascript:">Save</a>
<hr>
<div id="content">
  <textarea id="template" class="form-control" style="width: 100%; height: 60vh;" disabled></textarea>
</div>
<hr>

<script>
 window.onload = function() {
   var origtemplate = null;
   
   $.ajax({
     type: "GET",
     url: "/load_template"
   }).done(function(data) {
     if (data.error) {
       console.log(JSON.stringify(data.error));
       alert(JSON.stringify(data.error));
     }
     else {
       origtemplate = data.template || "";
       $("#template").val(origtemplate);
       $("#template").prop("disabled", false);
     }
   }).fail(fail);
   
   $("#savebtn").click(function() {
     $("#savebtn").addClass("disabled");
     $("#template").prop("disabled", true);
     $.ajax({
       type: "POST",
       url: "/save_template",
       data: {
         data: JSON.stringify({
           template: $("#template").val()
         })
       }
     }).done(function(data) {
       if (data.error) {
         console.log(JSON.stringify(data.error));
         alert(JSON.stringify(data.error));
       }
       else {
         origtemplate = $("#template").val();
         setTimeout(function() {
           $("#template").prop("disabled", false);
         }, 1000);
       }
     }).fail(fail);
   });
   
   $("#template").keyup(function() {
     if (origtemplate !== $("#template").val()) {
       $("#savebtn").removeClass("disabled");
     }
     else {
       $("#savebtn").addClass("disabled");
     }
   });
 };
</script>
